@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section {
    @apply pt-[60px] md:pt-[80px] xl:pt-[120px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
  .input-reset {
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }
  .input-field {
    @apply block w-full border rounded-lg px-4 text-left font-fixel border-alto text-silver text-base h-11 flex-start;
  }
}

input[type="number"]::placeholder {
  color: #383838;
}

/* Common utilities: */
.section-heading {
  @apply font-unbounded font-bold text-color-accent-primary text-[28px] leading-[1.2] tracking-[1.12px] uppercase;
}

/* Burger-Menu */
.burger-menu::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-[7px] md:w-[7px] md:h-full bg-color-accent-primary;
}

/* Footer */
.footer::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-[3px] bg-color-accent-primary;
}
/* sliderNav */
.slider-button {
  @apply w-[60px] h-[60px] xl:w-[68px] xl:h-[68px] border-2 text-base leading-loose hover:shadow-xl focus-visible:shadow-xl md:hover:shadow-xl md:focus-visible:shadow-xl transition rounded-full flex-center border-color-accent-primary bg-color-bg-white hover:translate-x-[2px] hover:-translate-y-[2px] md:hover:translate-x-[3px] md:hover:-translate-y-[3px] focus-visible:translate-x-[2px] focus-visible:-translate-y-[2px] md:focus-visible:translate-x-[3px] md:focus-visible:-translate-y-[3px];
}

.button-next-toppings.swiper-button-disabled,
.button-prev-toppings.swiper-button-disabled {
  @apply pointer-events-none opacity-0;
}

/* Cakes Cards */
@media screen and (min-width: 768px) {
  .cakes-card {
    flex-basis: calc((100% - 1 * 32px) / 2);
  }
}
