@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (scrollbar-gutter: stable) {
  html,
  body {
    scrollbar-gutter: stable;
  }
}
@supports not (scrollbar-gutter: stable) {
  html,
  body {
    overflow-y: scroll;
  }
}

@layer utilities {
  .section {
    @apply pt-[60px] md:pt-[80px] xl:pt-[120px];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .input-reset {
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }

  .input-field {
    @apply w-full border rounded-lg px-4 [:where(&)]:py-0 [:where(&)]:flex-start text-left font-fixel [:where(&)]:border-alto [:where(&)]:text-silver text-base placeholder-silver disabled:placeholder-alto;
  }

  .hover-style {
    @apply hover:shadow-2xl focus:shadow-2xl md:hover:shadow-3xl md:focus:shadow-3xl transition border-color-accent-primary   bg-color-bg-white hover:translate-x-[2px] hover:-translate-y-[2px] md:hover:translate-x-[3px] md:hover:-translate-y-[3px] focus:translate-x-[2px] focus:-translate-y-[2px] md:focus:translate-x-[3px] md:focus:-translate-y-[3px];
  }

  .submit-button {
    @apply text-title block w-full md:w-[368px] md:mx-auto py-[14px] rounded-[36px] hover-style border-2 leading-8;
  }

  .label {
    @apply font-fixel text-sm leading-4 [:where(&)]:block [:where(&)]:text-mine [:where(&)]:font-medium;
  }
  .message {
    @apply absolute bottom-3 md:bottom-5 left-1/2 w-full text-center -translate-x-1/2 font-bold text-sm md:text-xl;
  }
}

/* Common utilities: */
.text-title {
  @apply font-unbounded font-bold text-color-accent-primary uppercase;
}

.section-heading {
  @apply text-title text-[28px] leading-[1.2] tracking-[1.12px];
}

/* Burger-Menu */
.burger-menu::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-[7px] md:w-[7px] md:h-full bg-color-accent-primary;
}

/* Footer */
.footer::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-[3px] bg-color-accent-primary;
}
/* sliderNav */
.slider-button {
  @apply w-[60px] h-[60px] xl:w-[68px] xl:h-[68px] stroke-color-accent-primary border-2 text-base leading-loose hover:shadow-xl focus-visible:shadow-xl md:hover:shadow-xl md:focus-visible:shadow-xl transition rounded-full flex-center border-color-accent-primary bg-color-bg-white hover:translate-x-[2px] hover:-translate-y-[2px] md:hover:translate-x-[3px] md:hover:-translate-y-[3px] focus-visible:translate-x-[2px] focus-visible:-translate-y-[2px] md:focus-visible:translate-x-[3px] md:focus-visible:-translate-y-[3px] pointer-events-auto;
}

.button-next-toppings.swiper-button-disabled,
.button-prev-toppings.swiper-button-disabled {
  @apply pointer-events-none border-alto bg-disabled-bg stroke-alto  shadow-none translate-x-0 translate-y-0;
}

.desserts-slider-nav {
  top: calc(50% - 60px / 2);
  @media screen and (min-width: 1280px) {
    top: calc(50% - 68px / 2);
  }
}

/* Cakes Cards */
@media screen and (min-width: 768px) {
  .cakes-card {
    flex-basis: calc((100% - 1 * 32px) / 2);
  }
}

/* Modal Cards */
.plate-img {
  object-position: 50% -45px;
  border-radius: 32px;
  margin: 0 auto;
}

.plate-modal::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  pointer-events: none;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .modal-card {
    flex-basis: calc((100% - 1 * 16px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .modal-card {
    flex-basis: calc((100% - 1 * 48px) / 3);
  }
}

/* Sweet Cards (title style utilities) */
.sweets-card-title_cakes {
  @apply text-color-accent-primary;
}

.sweets-card-title_cookies {
  @apply text-color-option-first;
}

.sweets-card-title_cupcakes {
  @apply text-color-option-second;
}

.sweets-card-title_macaron {
  @apply text-color-option-third;
}

.sweets-card-title_cheesecakes {
  @apply text-color-option-fourth;
}

.sweets-card-title_sweet-sets {
  @apply text-color-option-fifth;
}

.sweets-card-title_cake-pops {
  @apply text-color-option-first;
}
